#Scissor {
    background-image: url('image/Scissor.png');
    width: 60px;
    height: 60px;
    position: absolute;
    top: 340px;
    left: 100px;
}

#Chopper {
    background-image: url('image/Chopper.png');
    width: 60px;
    height: 60px;
    position: absolute;
    top: 340px;
    left: 10px;
}

#BambooTube {
    background-image: url('image/BambooTube.png');
    width: 60px;
    height: 60px;
    position: absolute;
    top: 340px;
    left: 190px;
    display: none;
}

#Silk {
    background-image: url('image/Silk.png');
    width: 60px;
    height: 60px;
    position: absolute;
    top: 340px;
    left: 280px;
    display: none;
}

#Back {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 420px;
    left: 60px;
}

#Bamboo {
    width: 150px;
    height: auto;
    display: block;
}

#CutFabric {
    display: none;
}

#ArrowFabric {
    background-image: url('image/ArrowFabric.png');
    width: 60px;
    height: 60px;
    position: absolute;
    top: 130px;
    left: 300px;
}

#ArrowBamboo {
    background-image: url('image/ArrowBamboo.png');
    width: 60px;
    height: 60px;
    position: absolute;
    top: 130px;
    left: 300px;
}

/* 鼠标样式 */
img[draggable=true] {
    cursor: move;
}
